.menu {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    padding: 8px 16px;
    position: relative;
    width: fit-content;
}

.menu .menu-item {
    font-family: "Work Sans-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25.2px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.menu-item .selected {
    background-color: #e0fd2c;
}

.menu-item .unselected {
    border: 3px solid;
    border-color: #e0fd2c;
}
